body{
    background-color: rgb(126, 120, 120);
    font-family: arial;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: darkgreen;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    display: block;
}

ul li a:hover{
    background-color: lightblue;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
    
}